# database settings
DB_NAME=todos_db
DB_USER=todoman
DB_PASS=1234
DB_HOST=127.0.0.1
DB_PORT=5433

# security settings
DUMMY_HASH=DUMMY_HASH
JWT_SECRET=JWT_SECRETJWT_SECRETJWT_SECRET32
JWT_ACCESS_EXPIRE_SECONDS=3000
JWT_REFRESH_EXPIRE_SECONDS=6000

# s3 settings
S3_HOST=127.0.0.1
S3_API_PORT=9000
S3_GUI_PORT=9001
S3_USER=admin
S3_PASS=minioadmin
S3_BUCKET=my-todo-app
# 10 MB
S3_MAX_SIZE=10485760

# redis settings
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# metrics settings
PROMETHEUS_PORT=9090
LOKI_PORT=3100
GRAFANA_PORT=3000
GRAFANA_PASS=admin
